body {
  background-color: rgb(182, 170, 148);
}
#heading {
  font-size: 50px;
  color: brown;
  text-align: center;
  font-style: italic;
}
.texts {
  font-size: 18px;
  margin-left: 850px;
  font-family: sans-serif;
  font-weight: bold;
}
mark {
  color: brown;
  background-color: wheat;
}
.text2 {
  font-size: 18px;
  margin-bottom: 500px;
  font-family: sans-serif;
  font-weight: bold;
}
.info {
  font-size: 20px;
}
